.features{
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-gap: 6rem;
    // grid-template-columns: repeat(3,1fr);
    // 每個小於25rem 換行
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    align-items: start; //向上對齊
}
.feature{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon{
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/ span 2; //不能用-1 因為-1只能用在顯性網格
        transform: translateY(-1rem);
    }
    &__text{
        font-size: 1.7rem;
    }
}